@use './variables.scss';
@use './z-index.scss';
@use './animations.scss';
@use './components/terminal.scss';
@use './components/resize-handle.scss';
@use './components/code.scss';
@use './components/editor.scss';
@use './components/toast.scss';

html {
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

body {
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}

*::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar {
  overflow: auto; 
  /* Firefox */
  scrollbar-width: thin; 
  scrollbar-color: #888 #f1f1f1;
}

/* Chrome, Edge, Safari (WebKit) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Hilangkan tombol atas/bawah (buttons) di WebKit */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
